{% extends 'user/base.html' %}
{% load static %}
{% block body %}
    <div class="pt-5 bg-gray-800 w-screen h-screen">
        <div class="flex flex-row h-full justify-center">
            <div class="flex flex-col w-1/2 border-r-4 overflow-y-auto">
                <!-- user list -->
                {% for message in messages %}
                    <a href="{% url 'chat:message' message.user.email %}">
                    <div class="flex flex-row px-2 py-2 ml-2 justify-center items-center border-2 rounded-full hover:bg-gray-500 cursor-pointer">
                        <div class="w-full">
                            <img
                                    src="{{ message.user.avatar.url }}"
                                    class="object-cover h-12 w-12 rounded-full"
                                    alt=""
                            />
                        </div>
                        <div class="w-full">
                            <div class="text-lg text-white font-semibold">{{ message.user.name }} {{ message.user.last_name }}</div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}