{% extends 'user/base.html' %}
{% load static %}
{% block body %}
    <div class="mx-auto pt-5 bg-gray-800 h-screen w-full">
        <div class="flex flex-row h-full justify-between">
            <div class="flex flex-col w-2/5 border-r-4 overflow-y-auto">
                <!-- user list -->
                {% for message in messages %}
                    <a href="{% url 'chat:message' message.user.email %}">
                        <div class="flex flex-row px-2 ml-2 justify-center items-center border-2 rounded-full hover:bg-gray-500 cursor-pointer">
                            <div class="w-full">
                                <img
                                        src="{{ message.user.avatar.url }}"
                                        class="object-cover h-12 w-12 rounded-full"
                                        alt=""
                                />
                            </div>
                            <div class="w-full">
                                <div class="text-lg text-white font-semibold">{{ message.user.name }} {{ message.user.last_name }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <!-- message -->
            <div class="w-full px-5 flex flex-col justify-between">
                <div class="flex flex-col mt-5">
                    {% for message in chat %}
                        {% if request.user == message.recepient %}
                            <div class="flex justify-end mb-4">
                                <div class="mr-2 py-3 px-4 bg-blue-500 rounded-full text-white text-center">
                                    <p>{{ message.content }}</p>
                                    <p> {{ message.created_at|date:'H:i' }}</p>
                                </div>
                                <img
                                        src="{{ message.user.avatar.url }}"
                                        class="object-cover h-8 w-8 ml-2 rounded-full"
                                        alt=""
                                />
                            </div>
                        {% else %}
                            <div class="flex justify-start mb-4">
                                <img
                                        src="{{ message.user.avatar.url }}"
                                        class="object-cover h-8 w-8 mr-2 rounded-full"
                                        alt=""
                                />
                                <div class="mr-2 py-3 px-4 bg-blue-500 rounded-full text-white text-center">
                                    <p>{{ message.content }}</p>
                                    <p> {{ message.created_at|date:'H:i' }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="py-5 align-text-bottom">
                    <form action="" method="post" class="flex h-20">
                        {% csrf_token %}
                        {{ message_form.content }}
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                            Відправити </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}